@font-face {
  font-family: arcade;
  src: url('./components/fonts/ARCADECLASSIC.TTF')
}

body{
  font-family: arcade;
  color: #c7c7c7;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 60px;
}
body::-webkit-scrollbar-track {
  border-radius: 60px;
  border: 1px solid #c7c7c7;
  border-style: outset;
}

.header{
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.container{
  max-width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}

.new-contact{
  position: fixed;
  width: 90%;
  height: 90%;
  padding: 5%;
}

.new-contact-open{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #000;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  position: fixed;
  right: 1rem;
  top: 1rem;
  font-family: arcade;
  color: #c7c7c7;
}

.new-contact-open:hover{
  background: #c7c7c7;
  color: #000;
}
